

    body
    {
        margin: 0;
        padding: 0;
		font-family:verdana;
    }
    
    /* Haut de ma page */
    #Top
    {
        width: 100%;
        display: flex;
        background-color: #AEC6CF;
		margin-bottom:30px;
    }
    
    /* Contient le logo du site */
    header
    {
        width: 20%;
        text-align: center;   
    }

    header img
    {
        margin-top: 2%;
		margin-bottom: 2%;
        margin-right: 7%;
		width: 35%;
		vertical-align: middle;
    }
    
    /*Menu du site */
    nav
    {
        width: 60%;
        text-align: center;
		margin-left:200px;
    }
    
    nav ul
    {
        margin: 0;
        padding: 0;
    }
    
    nav ul li
    {
        display: inline-block;    
        padding: 3.3%;
		padding-bottom:2%;
    }
	
	nav ul li a
    {
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 1.0vw;
    }
	
	nav ul li:hover
	{
		border-bottom:2px;
		border-bottom-color:white;
		border-bottom-style:solid;
	}
	
	nav ul li:hover a
	{
		color: white;
		font-size: 1.1vw;
	}
	
Section SERVICES */
    
    #Services
    {
        margin-top:30px;
		padding-top: 30%;
    }
    
    section h1
    {
        text-align: center;
        font-weight: bold;
        font-size: 2.0vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .Transition_Container
    {
        width: 7%;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .Transition_Container hr
    {
        border: 1px solid rgb(0,0,0,0.2);
        width: 100%;
    }
    
    .Transition_Container .fa-circle
    {
        position: absolute;
        color: #5CADD3;
        font-size: 0.8vw;
        border: 4px solid white;
        border-radius: 100%;
        z-index: 1;
    }
    
    .Catchline p
    {
        text-align: center;
        font-size: 1.0vw;
    }

    #Media
    {
        display: flex;
        width: 100%;
        margin-top: 2%;
    }
    
    #Mac_Image  {   
        width: 50%;
    }
    
    #Mac_Image img   {
        float: right;
        margin-right: 15%;
		margin-top:15%;
        width: 60%;
    }
    
    #Informations  {
        width: 50%;
        display: flex;
        margin-top: 4%;
    }
    
    #Information_Text  {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 100%;
    }
      
    #Informations p {
        font-size: 1.0vw;
        margin-left: 4%;
        margin-bottom: 2%;
        margin-top: 2%;
    }  
    
    #Informations h2  {
        font-size: 1.0vw;
        margin-bottom: 2%;
        margin-left: 4%;
		margin-top:5%;
    }
    
    #Informations_Logos {
        display: flex;
        flex-direction: column;
        margin-right: 1%;
		margin-top:6%;
    }
    
    #Informations_Logos .Logos_Circle {
        position: relative;
        width: 3.5vw;
        height: 3.5vw;
        border: 1px solid #E5E5E5;
        border-radius: 100%;
	
    }
    
    #Informations_Logos .Logos_Circle:nth-child(2), .Logos_Circle:nth-child(3)  {
        margin-top: 3.5vw;
    }
    
    #Informations_Logos .fa-chart-line, .fa-cubes, .fa-chart-pie {
        position: absolute;
        font-size: 1.5vw;
        color: #5CADD3;  
        padding-left: 30%;
        padding-top: 30%;
    }
    
    #Informations_Logos .fa-circle {
        position: absolute;
        font-size: 0.8vw;
        color: #5CADD3;  
        margin-left: 80%;
        margin-top: 30%;
        border: 4px solid white;
        border-radius: 100%;
    } 

    @media screen and (max-width:600px) {
       
       #Top{
        display: block;
        max-width: 600px;
        height: 15vw;
       }
    
       header img{
        margin-left: 5%;
        margin-top: 5%;
        float: left;
        width: 80%;
       }
       nav{
            width: 100%;
            text-align: right;
            margin-left:0px;
       }
       nav ul li a
    {
        font-size: 3.0vw;
    }
    nav ul li:hover a
	{
		color: white;
		font-size: 3.0vw;
	}
       section h1{
        font-size: 4.0vw;
       }
       .Catchline p{
        font-size: 2.0vw;
       }
       #Media{
        display: inline;
       }
       #Mac_Image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       }
       #Mac_Image img{
        float:none;
        margin-right: 0%;
		margin-top:0%;
        width: 70%;
       }
       #Informations{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 185px;
       }

       #Information p{
        display: flex;
        justify-content: center;
        align-items: center;
       } 
}
